<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Manejo bloqueo de meses</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
            <div class="input-group">
            <input type="number" nbInput  status="info" placeholder="Seleccione año" name="Blo_Anop" [(ngModel)]="myBlome.Blo_Anop">
            </div>
          <nb-select value="0"  size="medium" placeholder="Seleccione mes" name="Blo_Mesp" [(ngModel)]="myBlome.Blo_Mesp">
            <nb-option [value]="month.value"  *ngFor="let month of months"   >{{month.name}}</nb-option>            
          </nb-select>  
          <nb-select value=""  name ="Blo_Acti" size="medium" placeholder="Seleccione estado" [(ngModel)]="myBlome.Blo_Acti">
              <nb-option [value]="state.value"  *ngFor="let state of states"    >{{state.title}}</nb-option>            
            </nb-select>                             
          <button type="submit" class="btn btn-danger" (click)="GetGnBlome()">Consultar</button>            
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
          Registros disponibles
        </nb-card-header>      
        <nb-card-body>
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (create) ="onCreateConfirm($event)" (edit)="editConfirm($event)" (editConfirm)="onEditConfirm($event)">
         </ng2-smart-table>
        </nb-card-body>
      </nb-card>         
  </div>
</div>