<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Manejo bloqueo de meses</nb-card-header>
      <nb-card-body>
        <form class="form-inline" #blomeForm="ngForm" (ngSubmit)="GetGnBlome()">
          <div class="col-sm-12 col-md-2">
              <div class="input-group">
                  <input type="number" nbInput  status="info" placeholder="Seleccione año" name="Blo_Anop" required #Blo_Anop="ngModel" [(ngModel)]="myBlome.Blo_Anop">
                  </div>
          </div>        
          <div class="col-sm-12 col-md-2">
          <nb-select value="0"   size="medium" placeholder="Seleccione mes" name="Blo_Mesp" [(ngModel)]="myBlome.Blo_Mesp"  >
            <nb-option [value]="month.value"  *ngFor="let month of months"   >{{month.title}}</nb-option>            
          </nb-select> 
          </div> 
          <div class="col-sm-12 col-md-2">
          <nb-select value="0"  name ="Blo_Acti" size="medium" placeholder="Seleccione estado" [(ngModel)]="myBlome.Blo_Acti" required #Blo_Acti="ngModel">
              <nb-option [value]="state.value"  *ngFor="let state of states"    >{{state.title}}</nb-option>            
            </nb-select>   
          </div>   
             
          <div class="col-sm-12 col-md-2">                
          <button [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" type="submit" [disabled]="!blomeForm.valid" class="btn btn-danger btn-icon btn-sm"  (click)="GetGnBlome()">
              <i class="fa fa-search"></i> &nbsp; Consultar
          </button>    
          </div>        
        </form>
      
       

  
      </nb-card-body>
    </nb-card>
  </div>   
</div>
  <div class="row">
      <div class="col-md-6">
    <nb-card  [nbSpinner]="loading" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
        <nb-card-header>
          Registros disponibles
        </nb-card-header>      
        <nb-card-body>
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (createConfirm) ="onCreateConfirm($event)" (edit)="editConfirm($event)" (editConfirm)="onEditConfirm($event)">
         </ng2-smart-table>
        </nb-card-body>
      </nb-card>     
      </div>
      <div class="col-md-6">
          <nb-card>
            <nb-card-header>
             Resumen
            </nb-card-header>
            <nb-card-body>
              <div>
              <div  style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>         
            </div>
            </nb-card-body>
    
          </nb-card>
        </div>
      
  </div>



